a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    line-height: 130px;
    text-align: left;
    font-weight: bolder;
    font-size: xx-large;
}

header {
    background-color: grey;
    width: 250px;
    text-align: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
p{margin-left: 250px;}
h2{margin-left: 250px; text-align: center; height: 200vh;}
#home{background-color: antiquewhite;}
#about{background-color: aqua;}
#contacts{background-color: blueviolet;}
#what-i-do{background-color: brown;}